:root {
    --sidebar-width: 14rem; /* Set the width of the right sidebar */
  }

/* Sidebar */
.aside {
    float: left;
    padding: 0.5in var(--sidebar-horizontal-padding) 0.2in var(--sidebar-horizontal-padding); /* Padding dimensions top, right, bottom, left */
    position: absolute;
    right: 0;
}

/* Headers in the sidebar */
.aside .level2 {
    margin-top: 0.5in; /* Increase space between headers in sidebar */
    font-size: 0.7rem; /* Make font-size of headers in sidebar smaller */
}

/* Adjust list items in the sidebar */
.aside li {
    padding-left: -2em; /* Adjust this value to your liking */
}

/* List markers in the sidebar */
.aside li::before {
    content: '•';
    margin-left: -10pt; /* Shift bullet points slightly to the left */
    position: absolute;
}

/* Disclaimer section in the sidebar */
/* NOTE: `padding-left` and `padding-top` has no effect here */
#disclaimer {
    text-align: left;
}

/* Fontawesome icons adjustments */
.fa-code {
margin-left: -3px; /* Shift the code icon to the left for better centering */
}